.footer table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.footer table tr {
  padding: 0.35em;
}

@media screen and (max-width: 1426px) {
  .footer table {
    border: 0;
  }

  .footer table caption {
    font-size: 1.3em;
  }

  .footer table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .footer table tr {
    margin-top: 0.625em;
    border: 1px solid #272c39;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    margin-bottom: 0.625em;
  }

  .footer table td {
    border-bottom: 1px solid #272c39;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .footer table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .footer table td:last-child {
    border-bottom: 0;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.footer::-webkit-scrollbar {
  width: 5px;
  position: relative;
  z-index: 20;
}

.footer::-webkit-scrollbar-track {
  border-radius: 0px;
  background: hsla(0, 0%, 100%, 0.15);
  height: 23px;
}

.footer::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: hsla(0, 0%, 100%, 0.4);
}

.footer::-webkit-scrollbar-thumb:window-inactive {
  background: #fff;
}

.footer_container {
  align-content: center;
  border-radius: 10px;
  background-color: #171c28;
  width: 100%;
  margin: 0 auto;
}

.footer_container hr {
  width: 100%;
  background-color: #242a3a;
  height: 2px;
}

.footer_container p {
  color: white;
}

.footer_container > div {
  width: 100%;
  padding: 0 20px;
}

.ft_tabs {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.ft_tabs strong {
  margin-right: 14px;
  color: #798ec9;
  opacity: 0.8;
  font-size: 13px;
  transition: all 0.1s linear;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  padding: 4px 6px;
  border-radius: 3px;
}

.ft_tabs strong:hover {
  opacity: 1;
}

.ft_tabs strong.selected {
  background: rgba(0, 0, 0, 0.25);
  color: rgb(102, 153, 255);
  opacity: 1;
}


.footer_bottom {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer_bottom strong {
  color: #08aff3;
  margin-top: 15px;
  letter-spacing: 1px;
  word-spacing: 2.5px;
}

.footer_bottom strong span {
  color: white;
}

.footer_orders {
  flex: 1;
  height: 1px;
}
.footer_orders table {
  width: 100%;
}
.footer_orders table tbody td,
.footer_orders table thead th {
  font-size: 13px;
  padding: 5px 0;
  color: white;
}
.cancel_order_link {
  text-decoration: underline;
  cursor: pointer;
  color: gray;
}
.footer_orders td.matched {
  color: rgb(240, 185, 11);
}
.footer_orders td.rejected {
  color: #c4384e;
}
.footer_orders td.filled {
  color: #3fe199;
}

.footer_links {
  margin-top: 20px;
}
.footer_links a {
  margin: 5px;
  color: #08aff3;
}

img.loading-gif {
  width: 30px;
  height: 30px;
}

.footer_orders td.open {
  color: gray;
}
.footer_orders td.committing {
  color: rgb(240, 185, 11);
}
.footer_orders td.canceled {
  color: #b9848d;
}

.balances_table {
  color: white;
  padding: 20px;
  max-width: 500px;
  margin-bottom: 30px;
}

@media screen and (max-width: 697px) {
  .ft_tabs {
    flex-wrap: wrap;
  }
  .ft_tabs strong {
    font-size: 1rem;
    margin-bottom: 10px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 411px) {
  .ft_tabs {
    flex-wrap: wrap;
  }
  .ft_tabs strong {
    font-size: 0.9rem;
    margin-bottom: 10px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 365px) {
  .ft_tabs strong {
    font-size: 0.8rem;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 349px) {
  .footer_bottom strong {
    font-size: 0.9rem;
  }
}
