.bridge_incompatible {
  width: 100%;
  min-height: 200px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bridge_box_swap_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -62px;
  margin-bottom: 0;
  width: 100%;
}

.bridge_box_swap_wrapper h5 {
  margin-top: 15px;
  font-size: 15px;
  font-weight: normal;
}

.bridge_coin_stats {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  justify-content: space-between;
  width: 100%;
}

.bridge_box_bottom .bridge_coin_title {
  margin-bottom: 0;
}

.bridge_box_bottom .bridge_coin_stats {
  margin-top: -15px;
  align-items: flex-end;
}

.bridge_coin_stat:last-child {
  text-align: right;
}

.bridge_coin_stat h5 {
  font-weight: normal;
  font-size: 12px;
}

.bridge_link {
  color: #fff;
  cursor: pointer;
}

.bridge_link:hover {
  text-decoration: underline;
}

.bridge_box_receipts {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* .bridge_box_transactions {
  margin: 0 0 25px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
} */

.bridge_box_receipt_head {
  padding: 26px 20px 12px;
}

.bridge_box_transaction {
  padding: 15px 20px;
  cursor: pointer;
}

.bridge_contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.bridge_contain>*:not(:last-child) {
  margin-right: 12px;
}

.bridge_box_transaction:hover {
  background: rgba(255, 255, 255, 0.05);
}

.bridge_box_transaction:active {
  background: rgba(0, 0, 0, 0.3);
}

.bridge_box_transaction_txId {
  font-size: 13px;
  margin-top: 8px;
}

.bridge_box_transaction_txType_deposit,
.bridge_box_transaction_txType_withdraw {
  background: #048;
  display: inline-flex;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.bridge_box_transaction_amount {
  font-weight: bold;
  color: #ddf;
}

.bridge_box_transaction_txType_withdraw {
  background: #848;
}

.bridge_connected_as {
  font-size: 12px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  align-items: center;
}

.bridge_disconnect {
  display: inline-block;
  font-size: 18px;
  line-height: 12px;
  margin-left: 6px;
}

.bridge_disconnect>a {
  display: inline-block;
  margin-left: 2px;
  font-size: 12px;
  color: #69f;
}

.bridge_disconnect>a:hover {
  color: #09aaf5;
}

.bridge_bubble_connected,
.bridge_bubble_disconnected {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-left: 8px;
}

.bridge_bubble_connected::before,
.bridge_bubble_disconnected::before {
  content: '';
  display: block;
  position: absolute;
  inset: 1px;
  background: linear-gradient(93.46deg, #2AABEE 16.94%, #0CCFCF 97.24%);
}

.bridge_bubble_disconnected::before {
  background: linear-gradient(93.46deg, #ee372a 16.94%, #cf0c0c 97.24%);
}

.bridge_container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bridge_box_bottom,
.bridge_box_top {
  padding: 30px;
}

.bridge_box_top {
  padding-bottom: 40px;
}

.bridge_box_bottom {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background: rgba(0, 0, 0, 0.2);
}

.bridge_transfer_fee {
  text-align: center;
  margin-top: 60px;
  color: rgba(185, 205, 255, 0.3);
}


.bridge_menu .rc-dropdown-menu>.rc-dropdown-menu-item {
  padding: 3px;
}

.bridge_coin_title {
  margin-bottom: 24px;
}

.bridge_button {
  margin-top: 20px;
}

.bridge_coin_title h5 {
  font-size: 12px;
  margin: 10px 0 8px;
}

.bridge_coin_details {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.bridge_coin_details .bridge_coin_image {
  margin-right: 8px;
}

.bridge_coin_image img {
  max-width: 100%;
  height: 100%;
  border-radius: 32px;
}

.rc-dropdown-menu>.rc-dropdown-menu-item-selected:after {
  top: 15px;
}

@media screen and (max-width: 480px) {
  .bridge_container {
    padding: 0 10px;
  }
}