.trade_price_btc_table {
    width: 100%;
    padding-top: 20px;
    height: 414px;
}

.trade_price_btc_table table {
    overflow: auto;
    width: 100%;
}

.trade_price_btc_table table::-webkit-scrollbar {
    width: 5px;
    position: relative;
    z-index: 20;
}

.trade_price_btc_table table::-webkit-scrollbar-track {
    border-radius: 5px;
    background: hsla(0, 0%, 100%, 0.15);
    height: 23px;
}

.trade_price_btc_table table::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: hsla(0, 0%, 100%, 0.4);
}

.trade_price_btc_table table::-webkit-scrollbar-thumb:window-inactive {
    background: #fff;
}

.trade_price_btc_table thead {
    position: sticky;
    top: 0;
    background-color: #171c28;
}

.trade_price_btc_table table th {
    color: #94a2c9;
    font-weight: 400;
    text-align: center;
    padding: 0 20px;
}

.trade_price_btc_table table th:nth-child(1) {
    text-align: start;
}

.trade_price_btc_table table tbody tr.selected {
    background-color: #232833;
}

.trade_price_btc_table table tbody tr {
    cursor: pointer;
}

.trade_price_btc_table table td {
    text-align: center;
    margin: 6px 0;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.trade_price_btc_table table td span {
    color: #94a2c9;
}

.trade_price_btc_table table td:nth-child(1) {
    text-align: start;
    color: white;
}

@media screen and (max-width: 991px) {
    .trade_price_btc_table table th {
        padding: 0 20px;
    }
}

@media screen and (max-width: 421px) {
    .trade_price_btc_table table tbody {
        font-size: 0.8rem;
    }
}
