/* Header */
header {
  width: 100%;
  height: 80px;
  background-color: #171c28;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.mobile_header,
.mb_h {
  display: none;
}

.head_left {
  display: flex;
  align-items: center;
}

.head_left ul {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
}

.head_left ul li a {
  color: #94a2c9;
  list-style: none;
  text-decoration: none;
  margin: 0 10px;
}

.active_link {
  position: relative;
}

.active_link::after {
  position: absolute;
  bottom: -29px;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #08aff3;
}

.head_right {
  display: flex;
  align-items: center;
}

.border_btn {
  background-color: transparent;
  padding: 13px 30px;
  margin-left: 15px;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid;
  border-radius: 19px !important;
  border-image-slice: 1;
  /* border-width: 1px; */
  border-image-source: linear-gradient(to right, #09aaf5, #05cfe9, #02f1de);
}

.eu_text {
  display: flex;
  align-items: center;
  margin: 0 40px;
}

.eu_text span {
  color: #94a2c9;
}

.eu_text hr {
  width: 2.5px;
  height: 20px;
  margin: 0 10px;
  color: #94a2c9;
  opacity: 1;
  background-color: #94a2c9;
  transform: rotate(-180deg);
}

.address_button {
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    background: none;
    color: white;
}

@media screen and (max-width: 991px) {
  .dex_h {
    display: none !important;
  }
  .mb_h {
    display: flex;
  }
  .mobile_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile_header img:nth-child(2) {
    z-index: 9999999;
  }
  .border_btn {
    margin-left: 0;
    width: 83%;
  }
  .mb_header_container {
    position: fixed;
    width: 320px;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #171c28;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mb_header_container img:nth-child(1) {
    object-fit: contain;
    width: 60px;
    height: 60px;
  }
  .head_left {
    margin: 3rem 0;
  }
  .head_right {
    width: 100%;
    flex-direction: column;
  }
  .head_right img:nth-child(1) {
    object-fit: contain;
    width: 50px;
    height: 50px;
  }
  .head_right .bg_btn {
    padding: 15px 28px;
    margin: 20px 0 20px 10px;
  }
  .head_right .bg_btn img {
    width: 20px !important;
    height: 20px !important;
  }
}
