.swap_button {
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #09aaf5, #05cfe9, #02f1de);
}

.swap_button svg {
    transition: all 0.2s ease-in-out;
    transform: rotate(90deg);
    width: 20px;
    height: 20px;
}

.swap_button:hover svg {
    transform: rotate(270deg);
}