/* tl_rates */

.tl_rates {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}

.rates_box {
  border-top: 1px solid #363c4e;
  border-right: 1px solid #363c4e;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 100%;
  justify-content: center;
  height: 48px;
}

.rates_box:last-child {
  border-right: none;
}

.rates_box h2 {
  font-size: 0.8rem;
  color: #94a2c9;
}

.rates_box p {
  font-size: 1rem;
}

.rb_text_1 strong {
  color: white;
  font-size: 0.9rem;
}

.rb_text_1 p {
  color: #94a2c9;
}

.rb_text_2 h1 {
  color: #3fe199;
  font-size: 0.9rem;
}

.rb_text_2 p {
  color: white;
}

.rb_text_3_down_value p {
  color: #c4384e;
}

.rb_text_3_up_value p {
  color: #3fe199;
}

.rb_text_4 p {
  color: white;
}

@media screen and (max-width: 1348px) {
  .trade_left {
    overflow: auto;
  }
  .trade_left::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: relative;
    z-index: 20;
  }

  .trade_left::-webkit-scrollbar-track {
    border-radius: 5px;
    background: hsla(0, 0%, 100%, 0.15);
    height: 23px;
  }

  .trade_left::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: hsla(0, 0%, 100%, 0.4);
  }

  .trade_left::-webkit-scrollbar-thumb:window-inactive {
    background: #fff;
  }
}
