/* bg_btn */
.bg_btn {
  display: flex;
  align-items: center;
  transition: all 0.1s linear;
  height: 42px;
  padding: 4px 30px;
  font-weight: bold;
  background: #09aaf5;
  border: 0;
  border-radius: 4px;
  width: 100%;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
}

.bg_btn > img {
  margin-right: 10px;
}

.btn_loader {
  position: absolute;
}

.zig_btn {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.01);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
}

.zig_btn:hover {
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3) inset,
    0 0 8px 1px rgba(120, 255, 255, 0.4);
}

.zig_btn:active {
  transition: none;
  background-color: #087fcf;
  box-shadow: -2px -2px 4px 1px rgba(0, 0, 0, 0.2) inset,
    0 1px 0 1px rgba(255, 255, 255, 0.2) inset;
}

.zig_btn_sm {
  font-size: 12px;
  padding: 0 10px;
  width: auto;
  height: 27px;
}

.zig_btn_loading {
  opacity: 1;
  pointer-events: none;
  background: linear-gradient(to right, #447891, #4a7c85, #486a63);
}

.zig_btn_icon {
  font-size: 18px;
  margin-right: 6px;
}
