.favourites_tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.selected_tab {
    color: rgb(139, 139, 238); /* needs updating*/
}