.zz-tooltip {
    opacity: 1;
}

.zz-tooltip > .rc-tooltip-content > .rc-tooltip-inner {
    padding: 0!important;
}

.rc-tooltip-placement-bottom > .rc-tooltip-content > .rc-tooltip-arrow {
    border-bottom-color: #121620!important;
}

.rc-tooltip-placement-top > .rc-tooltip-content > .rc-tooltip-arrow {
    border-top-color: #121620!important;
}

.rc-tooltip-placement-left > .rc-tooltip-content > .rc-tooltip-arrow {
    border-left-color: #121620!important;
}

.rc-tooltip-placement-right > .rc-tooltip-content > .rc-tooltip-arrow {
    border-right-color: #121620!important;
}
