/* tl_rates */
.tl_rates {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rates_box {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.rates_box_symbol {
  height: 1.3rem;
  margin-right: .7rem;
}

.rates_box h2 {
  font-size: 0.8rem;
  color: #94a2c9;
}

.rates_box p {
  font-size: 0.8rem;
}

.rb_text_1 > div {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 2px 15px;
  line-height: 1.4;
  min-width: 150px;
  cursor: pointer;
}

.rb_text_1 > div:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.rb_text_1 strong {
  color: white;
  font-size: 0.9rem;
}

.rb_text_1 p {
  color: #94a2c9;
}

.rb_text_2 h1 {
  color: #3fe199;
  font-size: 0.9rem;
}

.rb_text_2 p {
  color: white;
  min-height: 1rem;
}

.rb_text_3_down_value p {
  color: #c4384e;
  min-height: 1rem;
}

.rb_text_3_up_value p {
  color: #3fe199;
  min-height: 1rem;
}

.rb_text_4 p {
  color: white;
  min-height: 1rem;
}
@media screen and (max-width: 991px) {
  .tl_rates .hide_sm {
    display: none;
  }
}

@media screen and (max-width: 1348px) {
  .trade_left {
    overflow: auto;
  }

  .tl_rates .hide_md {
    display: none;
  }

  .trade_left::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: relative;
    z-index: 20;
  }

  .trade_left::-webkit-scrollbar-track {
    border-radius: 5px;
    background: hsla(0, 0%, 100%, 0.15);
    height: 23px;
  }

  .trade_left::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: hsla(0, 0%, 100%, 0.4);
  }

  .trade_left::-webkit-scrollbar-thumb:window-inactive {
    background: #fff;
  }
}

@media screen and (max-width: 674px) {
  .tl_rates {
    flex-wrap: wrap;
  }
}
