* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

body {
    height: 100vh;
    font-size: 0.9rem;
    background: #1c2231;
}

html {
    font-size: 16px;
}

.up_value {
    color: #3fe199 !important;
}

.down_value {
    color: #c4384e !important;
}

.trade_price_active_tab {
    color: #08aff3 !important;
}

.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item {
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
}

.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item:hover,
.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item-active,
.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item-selected {
    background-color: #c0cff8;
    color: #43f;
}

@font-face {
    font-family: 'Iceland';
    src: url('./assets/fonts/Iceland.woff2') format('woff2'),
         url('./assets/fonts/Iceland.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media screen and (min-width: 1800px) {
    html {
        font-size: 18px;
    }
}

/* WalletConnect customization */
.walletconnect-modal__base div:nth-child(3) {
    overflow-y: scroll;
}

/* template wrapper for header */
.template_wrapper{
    padding-top: 80px;
}
