* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.zig_scrollstyle::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #171c28;
  border-radius: 10px;
}

.zig_scrollstyle::-webkit-scrollbar {
  width: 5px;
  background-color: #171c28;
}

.zig_scrollstyle::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #1b2d52),
    color-stop(0.44, rgb(19, 34, 80)),
    color-stop(0.55, #1b2d52)
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

body {
  height: 100vh;
  font-size: 0.9rem;
  background-color: #171c28;
}

article {
  margin-top: 0px;
}

html {
  font-size: 16px;
}

.up_value {
  color: #3fe199 !important;
}

.down_value {
  color: #c4384e !important;
}

.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item {
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
}

.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item:hover,
.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item-active,
.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item-selected {
  background-color: #c0cff8;
  color: #43f;
}

@font-face {
  font-family: "Iceland";
  src: url("./assets/fonts/Iceland.woff2") format("woff2"),
    url("./assets/fonts/Iceland.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* WalletConnect customization */
.walletconnect-modal__base div:nth-child(3) {
  overflow-y: scroll;
}

.select-wrap {
  position: relative;
}

.select-wrap::before {
  content: "";
  font-size: 1rem;
  top: 45px;
  right: 14px;
  position: absolute;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.select-input {
  appearance: none;
}

