* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.zig_scrollstyle_light::-webkit-scrollbar {
  width: 5px;
  position: relative;
  z-index: 20;
}

.zig_scrollstyle_light::-webkit-scrollbar-track {
  border-radius: 4px;
  background: transparent;
  height: 23px;
}

.zig_scrollstyle_light::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #292d3f21;
}

.zig_scrollstyle_dark::-webkit-scrollbar {
  width: 5px;
  position: relative;
  z-index: 20;
}

.zig_scrollstyle_dark::-webkit-scrollbar-track {
  border-radius: 4px;
  background: transparent;
  height: 23px;
}

.zig_scrollstyle_dark::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ffffff21;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

body {
  height: 100vh;
  font-size: 0.9rem;
  /* background-color: #171c28; */
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

article {
  margin-top: 0px;
}

html {
  font-size: 16px;
}

.up_value {
  color: #3fe199 !important;
}

.down_value {
  color: #c4384e !important;
}

.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item {
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
}

.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item:hover,
.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item-active,
.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item-selected {
  background-color: #c0cff8;
  color: #43f;
}

@font-face {
  font-family: "Iceland";
  src: url("./assets/fonts/Iceland.woff2") format("woff2"),
    url("./assets/fonts/Iceland.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Regular";
  src: url("./assets/fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Medium";
  src: url("./assets/fonts/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-SemiBold";
  src: url("./assets/fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Bold";
  src: url("./assets/fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono-Medium";
  src: url("./assets/fonts/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* WalletConnect customization */
.walletconnect-modal__close__wrapper {
  overflow-y: none !important;
}

.select-wrap {
  position: relative;
}

.select-wrap::before {
  content: "";
  font-size: 1rem;
  top: 32px;
  right: 14px;
  position: absolute;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.select-input {
  appearance: none;
}

.Toastify__toast {
  padding: 0px;
}

.Toastify__toast-container {
  min-width: 350px;
}

@media only screen and (max-width: 600px) {
  .Toastify__toast-container {
    width: 100%;
    min-width: 100%;
  }
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  background: #2aabeeb8;
  border: 1px solid rgba(255, 255, 255, 0.13);
  box-shadow: 0px 8px 16px rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(16px);
  border-radius: 8px;
  padding: 8px;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background: rgba(116, 222, 159, 0.72);
  border: 1px solid rgba(255, 255, 255, 0.13);
  box-shadow: 0px 8px 16px rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(16px);
  border-radius: 8px;
  padding: 8px;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background: rgba(232, 54, 129, 0.72);
  border: 1px solid rgba(255, 255, 255, 0.13);
  box-shadow: 0px 8px 16px rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(16px);
  border-radius: 8px;
  padding: 8px;
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
  /* background-color: transparent; */
  background: rgba(252, 201, 88, 0.72);
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 8px 16px rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(16px);
}

.Toastify__toast-theme--colored.Toastify__toast--default {
  /* background-color: #2B2E4A;
  border: 1px solid rgba(255, 255, 255, 0.13);
  box-shadow: 0px 8px 16px rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(16px);
  
  padding: 10px; */
  /* width: 500px; */
  background-color: transparent;
  border-radius: 8px;
  padding: 0px;
}
